body {
    background: none repeat scroll 0 0 #DAD5C1;
    font-family: "Helvetica","Arial",Tahoma,Arial,Helvetica,sans-serif;
}
h3 a {
    text-align: center;
    text-decoration: none;
	color: black;
}

p {
    padding: 2%;
}

img {
    height: 100px;
    max-width: 100%;
    text-align: center;
    width: auto;
}

#date_time {
	width:100%;
	text-align:center;
	color: #00ff00;
	font-size:1em;
	padding: 0;
	margin: 0;
}

#wrapper {
    background: none repeat scroll 0 0 #000000;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 980px;
    padding: 2%;
    width: 96%;
}
header {
    padding: 5px;
    text-align: center;
}
nav {
    background: none repeat scroll 0 0 #A09885;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none outside none;
    margin-left: 7%;
    padding: 0;
}
nav li a {
    color: #000000;
    display: block;
    float: left;
    padding: 20px;
    text-decoration: none;
}
nav a:hover, nav li.active a {
    background-color: #322F2C;
    color: #FFFFFF;
	
}
.clearfix {
    clear: both;
}
#social {
    text-align: center;
	width: 100%;
	background: none repeat scroll 0 0 #A09885;
    border-radius: 10px;
    float: right;
    margin-top: 2%;
}
#social img {
    height: 100%;
    padding-top: 5px;
    width: 50px;
}
.left-col {
    background: none repeat scroll 0 0 #00FF00;
    border-radius: 10px;
    float: left;
    margin-top: 2%;
    width: 49%;
	text-align: center;
}

.sidebar {
    background: none repeat scroll 0 0 #00FF00;
    border-radius: 10px;
    float: right;
    margin-top: 2%;
    width: 50%;
	text-align: center;
}

footer {
    background: none repeat scroll 0 0 #A09885;
    border-radius: 50px;
	text-align: center;
}
@media screen and (max-width: 478px) {
body {
    font-size: 13px;
}
}
@media screen and (max-width: 740px) {
.left-col {
    width: 100%;
}
.sidebar {
    width: 100%;
}
}

